* {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    margin: 0;
    /* border: springgreen solid 2px; */
    background-image: url(img_lencois.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.degrade {
    background-image: linear-gradient(to right, transparent, rgba(0,0,0,.5), rgba(0,0,0,.9));
    /* border: tomato solid 5px; */
    padding: 23vh 0vh;
}
i{
    color: white;
    font-size: 2.5rem;
    margin-right: .9rem;
}
i:hover {
    color: #01AAFF;
}
.container {
    /* width: 100%; */
    max-width: 460px;
    margin-left: 55vw;
    /* border: royalblue solid 7px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
/* .group-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid red;
} */
.me {
    margin: 0px;
    font-size: 4.125rem;
    width: 100%;  
}
.btn {
    padding: 1rem 4rem;
    border-radius: 100px;
    border: none;
    background-color: #01AAFF;
    font-weight: bolder;
    margin: 1rem 0rem;
}
.btn:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background: #005e8d;
}
.joinme {
    display: flex;
    align-items: center;
}
.joinme p {
    margin-right: 1rem;
}

@media (max-width: 600px) {
    .joinme {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .joinme a{
        margin-bottom: 1rem;
    }
}
@media (max-width: 600px) {
    .me{
        font-size: 3rem;       
    }
}
@media (max-width: 600px) {
    .btn{
        padding: .5rem 2rem;
    }
}